{% if "moodle_version_found" in data.contains_type %}
    <li>{% trans %}The following Moodle installations were detected:{% endtrans %}

    <ul>
        {% for report in data.reports %}
            {% if report.report_type == "moodle_version_found" %}
                <li>
                    {{ report.target }} - {% trans %}version:{% endtrans %} {{report.additional_data.version }}
                    {{ report_meta(report) }}
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    <p>
        {% trans trimmed %}
            Keep track of the Moodle versions in use and ensure they are up to date with the latest security patches.
            Check the official Moodle security advisories for any known vulnerabilities in these versions.
        {% endtrans %}
    </p>
{% endif %}
