{% if "almost_expired_ssl_certificate" in data.contains_type %}
    <li>{% trans %}The SSL/TLS certificates for the following websites have almost expired:{% endtrans %}
        <ul>
            {% for report in data.reports %}
                {% if report.report_type == "almost_expired_ssl_certificate" %}
                    <li>
                        {{ report.target }} - {% trans %}expires on{% endtrans %} {{ report.additional_data.expiry_date }}
                        {{ report_meta(report) }}
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
        <p>{% trans %}We recommend creating a new certificate.{% endtrans %}</p>
     </li>
{% endif %}
